{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div style='background-color: #eee;' class='py-4 mb-4'>
        <div class="container">
            <h2 class='display-4'>Reset Password</h2>
            <p class='lead'>Write your new password.</p>
        </div>
    </div>
    <div class="container">
        <form action="" method="POST" class='form'>
            {% csrf_token %}
            {{ form|crispy }}
            <button class='btn btn-success mt-3'>Reset</button>
        </form>
    </div>
{% endblock %}